/* Body styles */
/*
    Body layout is a 4-column grid. Columns are 250, spacing 50.
    Two cols is 550. Three cols is 850. Four is 1150.
*/

body {
    font-size: 16px;
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    background: rgba(61, 61, 71, 1);
}


/* Header */

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url("../images/header/great-sand-dunes.jpg");
    background-size: cover;
    background-position: 50% 50%;
    z-index: -2;
}
    .background .gradient {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(61, 61, 71, 0), rgba(61, 61, 71, 1));
    }

    /*box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.3);*/

.header {
    height: 70px;
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
}
    .header .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        opacity: 0.6;
        z-index: 1;
    }
    .header .logo img {
        height: 20px;
    }
    .header .nav {
        position: absolute;
        top: 20px;
        right: 20px;
        line-height: 25px;
        z-index: 1;
    }
    .header .nav li {
        float: right;
        margin: 0 4px 0 4px;
        font-weight: bold;
    }
    .header .nav li a {
        padding: 5px 9px;
        border-radius: 2px;
    }
    .header .nav li a:hover {
        background: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.7);
    }
    .header .nav li.main a {
        background: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.7);
        margin-left: 6px;
    }
    .header .nav li.main a:hover {
        background: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.9);
    }
    .header a {
        color: inherit;
        text-decoration: none;
    }
    .header .group-logo {
        position: absolute;
        display: block;
        top: 10px;
        left: 0;
        width: 100%;
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 40px;
    }

/* Content wrapper */

.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    min-height: 300px;
    padding: 20px 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: relative;
}
    body.lightbox .content {
        width: 550px;
        margin-top: 40px;
        padding: 20px 20px;
        text-align: center;
    }
    .content .subnav {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
    .content .subnav li {
        float: right;
        margin-left: 20px;
    }
    .content .subnav a {
        color: #aaa;
        text-decoration: none;
    }
    .content .subnav a:hover {
        color: #888;
    }

/* General page layout */

h1 {
    font-size: 35px;
    font-weight: normal;
    color: #333;
    margin: 30px 0 15px 0;
}
    h1:nth-child(1) {
        margin-top: 0;
    }
    .lightbox h1 {
        text-align: center;
        font-size: 30px;
    }

p {
    line-height: 160%;
    margin-bottom: 1em;
}
    p.empty {
        font-style: italic;
        color: #777;
    }

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 15px 0;
}

.two-left {
    width: 550px;
}

.two-centre {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

/* Thread indexes */

.groups {
    margin: 15px 0;
}
    a.group {
        color: #777;
        text-decoration: none;
    }

.thread {
    margin: 0 0 20px -70px;
    display: block;
    text-decoration: none;
}
    .thread .icon {
        float: left;
        margin: 0;
        padding: 0 13px 0 0;
        width: 74px;
        height: 100%;
        background: #369;
        color: #fff;
        font-size: 30px;
        text-align: right;
        line-height: 45px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .thread h3 {
        margin: 0 0 5px 110px;
        padding: 3px 0 0 0;
        color: #666;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .thread h4 {
        margin: 5px 0 0 110px;
        color: #333;
        font-size: 22px;
    }
    .thread .stats {
        padding: 0 0 0 15px;
        color: #333;
    }

/* Thread view */

.content .solo-icon {
    float: left;
    margin: 0 0 0 -70px;
    padding: 0 13px 0 0;
    width: 74px;
    height: 100%;
    background: #369;
    color: #fff;
    font-size: 30px;
    text-align: right;
    line-height: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.thread-view h2 {
    margin: 0 0 0 40px;
    line-height: 45px;
    color: #333;
    font-size: 30px;
}

.thread-meta {
    margin: 0 0 0 40px;
    color: #888;
    font-size: 14px;
}
    .thread-meta a {
        color: inherit;
    }

.thread-body {
    margin: 20px 0;
}

.new-discussion {
}
    .new-discussion .field textarea {
        width: 550px;
        height: 100px;
        font-family: inherit;
        font-size: 16px;
    }
    .new-discussion .field .help-text {
        color: #aaa;
    }

/* Buttons */

.button {
    position: relative;
    padding: 6px 0.8em;
    color: #fff;
    background-color: #0084c8;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #036;
    text-decoration: none;
    font-style: normal;
    font-size: 100%;
}
    a.button {
        padding-bottom: 7px;
    }
    .button:hover {
        text-decoration: none;
        opacity: 0.9;
    }
    .button:active {
        top: 1px;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    .button.prominent {
        background-color: #09a3f2;
    }
    .button.boring {
        background-color: #818E90;
    }
    .button.create {
        background-color: #2C954C;
    }
    .button.serious {
        background-color: #651212;
    }
    .button.inline {
        margin: 0 0.6em;
    }

.buttons {
    display: block;
    padding: 10px 0;
}

/* Form styles */

.field {
    margin: 0 0 1em 0;
}
    .field label span {
        display: block;
        font-size: 16px;
        color: #444;
        text-transform: uppercase;
        margin: 0 0 -3px 0;
        text-align: left;
    }
    .field input {
        display: block;
        font-size: 18px;
        border: 1px solid #999;
        color: #555;
        padding: 9px;
        margin: 7px 0 5px 0;
        width: 530px;
    }
    .field.errors input {
        border-color: #a00;
    }
    .field textarea {
        display: block;
        font-size: 18px;
        border: 1px solid #666;
        padding: 5px;
        margin: 7px 0 5px 0;
    }
    .field select {
        display: block;
        font-size: 18px;
        margin: 7px 0 5px 0;
        border: 1px solid #666;
        padding: 5px;
    }
    .field .help-text {
        font-size: 14px;
        color: #555;
        margin: 0 0 5px 0;
    }
    .field .required {
        display: inline;
        color: #900;
    }

.errorlist {
    color: #600;
    font-size: 14px;
    margin: 8px 0 13px 0;
}
    .errorlist li {
        margin: 0 0 5px 0;
    }

form .buttons .button {
    font-size: 18px;
}

form.inline {
    display: inline;
}
    form.inline .buttons .button {
        font-size: 100%;
    }

/* Nice tables */

table.nice {
    width: 100%;
}
    table.nice th {
        text-transform: uppercase;
        color: #888;
        font-weight: bold;
        text-align: left;
        padding: 0 20px 15px 0px;
        vertical-align: middle;
    }
    table.nice td {
        padding: 8px 20px 8px 0px;
        vertical-align: middle;
    }
    table.nice td.small {
        font-size: 90%;
    }
    table.nice a {
        text-decoration: none;
        font-weight: bold;
        color: inherit;
    }
    table.nice a.button {
        text-decoration: none;
        font-weight: normal;
        color: #eee;
        margin: 0 0.4em 0 0;
        padding: 5px 0.6em;
    }


/*****************
 *****************
       750px
 *****************
 *****************/

@media (max-width: 1150px) {

    .content {
        width: 750px;
    }

}


/*****************
 *****************
       250px
 *****************
 *****************/

@media (max-width: 767px) {

    .content {
        width: 100%;
    }

}
