{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <h1>About Thiuff</h1>

    <p>
    Thiuff is a project that was built as a demonstration of new <a href="http://www.djangoproject.com">Django</a>
    features, but which is also being run as a nascent online community,
    with a particular focus on being welcoming and not tolerating bigotry
    and discrimination while encouraging friendly discussion and debate.
    </p>

    <p>
    It's free to join and make a group, and we encourage you to use the site
    to make groups and small communities around topics of interest, your
    company's products, your side project, or whatever else seems appropriate.
    </p>

    <p>
    We have a <a href="/coc/">Code of Conduct</a> that we ask everyone to
    abide by, and while we don't mind groups and submissions that involve
    sexual, violent or other imagery that is legal but not suitable for everyone, we ask that
    groups and threads discussing that content to be clearly labelled
    (we have features to mark threads and groups as containing such content).
    </p>

    <p>
    The site is still under active development, so some things might change.
    We'll post updates in the <a href="/g/thiuff/">thiuff group</a> when we add things.
    </p>

{% endblock %}
