{% extends "base.html" %}

{% block title %}Code of Conduct{% endblock %}

{% block body_class %}formatted{% endblock %}

{% block content %}

    <h1>Code of Conduct</h1>

    <p>
    Thiuff is meant to be a site for thoughtful discussion and debate, where everyone is welcome
    and should feel safe and happy to contribute. To that end, we hold all users of the site -
    the general public, moderators and administrators alike - to a Code of Conduct.
    </p>

    <p>
    This isn’t an exhaustive list of things that you can’t do. Rather, take it in the spirit in which it’s intended - a guide to make it easier to enrich all of us and the communities in which we participate. If you feel you cannot contribute or
    to this site given the code of conduct, then please refrain from doing so and go elsewhere.
    </p>

    <p>
    This code of conduct applies to all content on the site, including usernames, avatars, group names and theming,
    discussions, links, thread content and individual replies and messages. We take violations seriously, and while
    we will give any violators a chance to learn from their mistakes, we will also take steps to remove repeat
    offenders from the community.
    </p>

    <p>
    If you believe someone is violating the code of conduct, we ask that you <a href="/contact/">contact us</a> immediately.
    All reports will be kept confidential, and if we have to make a public statement we will keep the identities of
    all parties involved confidential unless they wish to be identified.
    </p>

    <p>
    <b>If you believe anyone is in physical danger, please notify appropriate law enforcement first.</b> If a report comes in
    that warrants attention from law enforcement, we will forward any relevant details onto the appropriate authorities.
    </p>

    <p>
    When you report an
    incident to us, please be as detailed as possible, including links to the content in question and any additional
    context or off-site interactions that may be relevant (if you wish to discuss them).
    </p>

    <p>
    We will act as quickly as we can to look at your report and act appropriately; sometimes, we may ask for additional
    information to make sure we have a clear picture. If action is taken against you as the result of a report, we will
    contact you if we have a valid email address to notify you what action has been taken, and if it's a permanent action,
    how you may appeal against the decision we've made.
    </p>

    <ul>
    <li>
        <b>Be friendly and patient.</b>
    </li>
    <li>
        <b>Be welcoming.</b> We strive to be a community that welcomes and supports people of all backgrounds and identities. This includes, but is not limited to members of any race, ethnicity, culture, national origin, colour, immigration status, social and economic class, educational level, sex, sexual orientation, gender identity and expression, age, size, family status, political belief, religion, and mental and physical ability.
    </li>
    <li>
        <b>Be considerate.</b> Your submissions and comments will be read by other people, and you in turn read and consume the work of others. Remember that we're an online community, so you might not be communicating in someone else's primary language. Violent, sexual and other content is welcome, provided it is legal and in a group or thread explicitly labelled; some people do not want to see some kinds of content, and you should respect their wishes and make sure it's clear what you're linking to or writing about.
    </li>
    <li>
        <b>Be respectful.</b> Not all of us will agree all the time, but disagreement is no excuse for poor behavior and poor manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack. It’s important to remember that a community where people feel uncomfortable or threatened is not a productive one. Members of the community should be respectful when dealing with other members as well as with people outside the community.
    </li>
    <li>
        <b>Be careful in the words and images that you choose.</b> We are a community, and we hold ourselves to a high standard. Be kind to others. Do not insult or put down other participants. Harassment and other exclusionary behavior aren't acceptable. This includes, but is not limited to:
        <ul>
            <li>
            Violent threats or language directed against another person.
            </li>
            <li>
            Discriminatory jokes and language.
            </li>
            <li>
            Posting sexually explicit or violent material in an inappropriate group.
            </li>
            <li>
            Posting (or threatening to post) other people's personally identifying information ("doxing").
            </li>
            <li>
            Personal insults, especially those using racist or sexist terms.
            </li>
            <li>
            Unwelcome sexual attention.
            </li>
            <li>
            Advocating for, or encouraging, any of the above behavior.
            </li>
            <li>
            Repeated harassment of others. In general, if someone asks you to stop, then stop.
            </li>
        </ul>
    </li>
    <li>
        <b>When we disagree, try to understand why.</b> Disagreements happen all the time and we're no exception. It is important that we resolve disagreements and differing views constructively. Remember that we’re different. The strength of a community and its ability to discuss and debate topics comes from its variety, by including  people from a wide range of backgrounds. Different people have different perspectives on issues. Being unable to understand why someone holds a viewpoint doesn’t mean that they’re wrong. Don’t forget that it is human to err and blaming each other doesn’t get us anywhere. Instead, focus on helping to resolve issues and learning from mistakes.
    </li>

    <p>This code of conduct is based on that of the <a href="https://www.djangoproject.com/conduct/">Django Project</a>. If you
    have any feedback about how we could improve it, please <a href="/contact/">get in touch</a>.</p>

{% endblock %}
