{% extends "base.html" %}

{% block title %}{{ group }}{% endblock %}

{% block content %}

    <ul class="subnav">
        <li><a href="{{ group.urls.create_thread }}">
            <i class="fa fa-plus"></i>
            Create thread
        </a></li>
        <li><a href="#">
            <i class="fa fa-cog"></i>
            Settings
        </a></li>
        <li><a href="#">
            <i class="fa fa-legal"></i>
            Moderation
        </a></li>
    </ul>

    <div class="threads">
        {% for thread in threads %}
            {% include "_threadbox.html" %}
        {% endfor %}
    </div>

{% endblock %}
