{% extends "base.html" %}

{% block title %}{{ group }}{% endblock %}

{% block content %}

    <a href="{{ group.urls.create_topic }}">Create thread</a>

    <div class="threads">
        {% for topic in topics %}
            <a class="thread" href="{{ topic.urls.view }}">
                <span class="icon" style="background: #193E30"><i class="fa fa-newspaper-o"></i></span>
                <h3>{{ topic.group }} <span class="stats">4 replies / 14 comments</span></h3>
                <h4>{{ topic.title }}</h4>
            </a>
        {% endfor %}
    </div>

{% endblock %}
