<form action="{{ action|default:"." }}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
        {% include "_field.html" %}
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <div class="buttons">
        <input class="button" type="submit" value="{{ submit_verb|default:"Save" }}">
        {% if delete_verb %}
            <input class="button serious" type="submit" name="delete" value="{{ delete_verb }}">
        {% endif %}
    </div>
</form>
