<!DOCTYPE html>
<html>
<head>
    <title>{% block whole_title %}{% block title %}{% endblock %} - Thiuff{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ static("css/reset.css") }}" type="text/css" media="screen" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ static("css/style.css") }}" type="text/css" media="screen" />
	<script src="{{ static("js/jquery-1.11.3.min.js") }}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

	<div class="header-wrapper">
		<div class="header" style="{% block header_style %}{% endblock %}">
			{% if group %}
				<a href="/" class="logo-small">Thiuff</a>
				<a href="{{ group.urls.view }}" class="logo">{{ group }}</a>
			{% else %}
				<a href="/" class="logo">Thiuff</a>
			{% endif %}
			{% if user.is_authenticated() %}
				<ul class="nav">
					<li><a href="#">0 replies</li>
					<li class="main"><a href="/auth/logout/">{{ user.username }}</a></li>
				</ul>
				<ul class="subnav">
					<li><a href="#">settings</a></li>
					<li><a href="/g/create/">create group</a></li>
					<li><a href="#">new thread</a></li>
				</ul>
			{% else %}
				<ul class="nav">
					<li><a href="/auth/login/">Log in</a></li>
					<li class="main"><a href="/auth/login/">Sign up</a></li>
				</ul>
				<ul class="subnav">
					<li><a href="#">about</a></li>
				</ul>
			{% endif %}
		</div>
	</div>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>
