<!DOCTYPE html>
<html>
<head>
    <title>{% block whole_title %}{% block title %}{% endblock %} - Thiuff{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ static("css/reset.css") }}" type="text/css" media="screen" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ static("css/style.css") }}" type="text/css" media="screen" />
	<script src="{{ static("js/jquery-1.11.3.min.js") }}" type="text/javascript"></script>
	{% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

	<div class="background">
		<div class="gradient"></div>
	</div>

	<div class="header" style="{% block header_style %}{% endblock %}">
		{% if group %}
			<a class="group-logo" href="{{ group.urls.view }}">{{ group }}</a>
		{% endif %}
		<a href="/" class="logo"><img src="{{ static("images/logo_100.png") }}" alt="thiuff"></a>
		{% if user.is_authenticated() %}
			<ul class="nav">
				<li class="main"><a href="/auth/logout/"><i class="fa fa-user"></i> {{ user.username }}</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Groups</a></li>
			</ul>
		{% else %}
			<ul class="nav">
				<li class="main"><a href="/auth/login/">Sign up</a></li>
				<li><a href="/auth/login/">Log in</a></li>
				<li><a href="#">About</a></li>
			</ul>
		{% endif %}
	</div>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>
