{% extends "base.html" %}

{% block title %}{{ thread }}{% endblock %}

{% block body_class %}thread-view{% endblock %}

{% block extra_js %}
    <script src="{% static "js/thread.js" %}" type="text/javascript"></script>
{% endblock %}

{% block body_attrs %}data-thread-id="{{ thread.id }}"{% endblock %}

{% block naked_content %}

    <div class="content short js-thread">
        <aside class="subnav">
            <a href="#">
                <i class="fa fa-flag"></i>
                Report
            </a>
        </aside>

        <span class="solo-icon" style="background: {{ thread.group.icon_colour }}">
            <i class="fa fa-newspaper-o"></i>
        </span>
        <h2>
            {% if thread.url %}<a href="{{ thread.url }}">{% endif %}
            {{ thread.title }}
            {% if thread.url %}
                <span class="domain">
                    {{ thread.content_domain }}
                    <i class="fa fa-external-link"></i>
                </span>
                </a>
            {% endif %}
        </h2>
        <p class="thread-meta">
            Created <b>{{ thread.created.strftime("%d %b %Y %H:%M") }}</b>
            by <b><a href="{{ thread.author.urls.view }}">{{ thread.author }}</a></b>
        </p>

        {% if thread.body %}
        <div class="thread-body formatted">
            {{ thread.formatted_body|safe }}
        </div>
        {% endif %}

    </div>

    <div class="midnav">
        <a href="{{ thread.urls.create_top_level_message }}" class="main opt-lightbox"><i class="fa fa-plus"></i> New discussion</a>
    </div>

    {% for message in thread.top_level_messages %}
    <div class="content short discussion">
        <img class="icon" src="{{ message.author.urls.avatar_40 }}">
        <p class="meta">
            <b><a href="{{ message.author.urls.view }}">{{ thread.author }}</a></b>
            {% if message.edited %}
                {{ message.edited.strftime("%d %b %Y at %H:%M") }} (edited)
            {% else %}
                {{ message.created.strftime("%d %b %Y at %H:%M") }}
            {% endif %}
        </p>
        {% if message.deleted %}
            <div class="formatted">
                <p class="empty">
                    (deleted {{ message.deleted.strftime("%d %b %Y at %H:%M") }})
                </p>
            </div>
        {% else %}
            <aside class="subnav">
                <a href="{{ message.urls.edit }}" class="opt-lightbox"><i class="fa fa-cog"></i> Edit</a>
                <a href="{{ message.urls.delete }}" class="opt-lightbox"><i class="fa fa-trash"></i> Delete</a>
            </aside>
            <div class="formatted">
                {{ message.formatted_body|safe }}
            </div>
        {% endif %}
        <a class="expander expanded reply-toggle">
            {% if message.replies %}
                All replies
            {% else %}
                Reply
            {% endif %}
        </a>
        <div class="replies main">
            {% for reply in message.replies %}
                {% include "threads/_reply.html" %}
            {% else %}
                <p class="empty">No replies yet.</p>
            {% endfor %}
            <form class="reply-form" action="{{ message.urls.reply }}" method="POST">
                {% csrf_token %}
                <textarea name="body"></textarea>
                <a class="formatting" href="#">Formatting Guide</a>
                <button class="button reply">Post</button>
            </form>
        </div>
        {% if message.replies %}
            <div class="replies preview">
                {% with reply=message.replies[-1] %}
                    {% include "threads/_reply.html" %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
    {% else %}
        <p class="empty">No discussions yet.</p>
    {% endfor %}

{% endblock %}
